@{
    ViewBag.Title = "Dashboard";

}

<h1>@ViewBag.Title</h1>


@if (ViewBag.UnauthorizedMessage != null)
{
    <br />
    <div class="text-center text-warning">
        @foreach (string message in ViewBag.UnauthorizedMessage)
        {
            <h3>@message</h3>
            <br />
        }
    </div>
    <div id="timer" class="text-center">
        <h3 class="glyphicon glyphicon-time" aria-hidden="true"> </h3>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span id="countdown" style="font-size: xx-large"> </span>
    </div>

    <p id="demo"></p>
}

<script type="text/javascript">
    var endDate = '@ViewBag.EndDate';
</script>
<script src="~/js/site.min.js" asp-append-version="true"></script>
<script src="~/js/timerRedirect.js"></script>
<script src="~/js/timeStamp.js"></script>