@{
    ViewBag.Title = "Dashboard";

}

<h1>@ViewBag.Title</h1>


@if (ViewBag.UnauthorizedMessage != null)
{
    <br />
    <div class="text-center text-warning">
        @foreach (string message in ViewBag.UnauthorizedMessage)
        {
            <h3>@message</h3>
            <br />
        }
    </div>
    <div id="timer" class="text-center">
        <h3 class="glyphicon glyphicon-time" aria-hidden="true"> </h3>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span id="countdown" style="font-size: xx-large"> </span>
    </div>

    <p id="demo"></p>
}


<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        >
</script>
<script type="text/javascript">
    var endDate = '@ViewBag.EndDate';
    var nowDate = '@ViewBag.NowDate';
</script>
<script src="~/js/timerRedirect.js"></script>
<!--
<script src="~/js/timeStamp.js"></script>
-->