/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

/* Profile */
.profileheader {
    background-color: #607880;
    color: white;
    font-weight: bolder;
}



/* Dashboard */
.dashboardBoxesL, .dashboardBoxesR {
    height: 100px;
    padding: 25px;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

.dashboardBoxesR {
    margin-left: 20px;
}

/* Dashboard Buttons colors */
#Profile {
    background-color: deeppink;
}

#Memberships {
    background-color: mediumpurple;
}

#Search-Events {
    background-color: mediumseagreen;
}

#Events {
    background-color: mediumturquoise;
}

#MyEvents {
    background-color: mediumturquoise;
}

#Create-Events {
    background-color: mediumseagreen;
}

#Manage-Users {
    background-color: deeppink;
}

#Reports {
    /*background-color: lightslategrey; */
    background-color: mediumpurple;
}

#Databases {
    background-color: salmon;
}

#Broadcast {
    background-color: black;
    padding-top: 7px;
}

.Highlight{
    color: darkturquoise;
    font-weight:700;
}



/* Header */
.user-login-btn {
    /*
    background-color: darkturquoise;
    color:white; 
    */
    background-color: lawngreen;
    color: darkslategray;
}

.user-login-btn:hover {
    background-color: limegreen;
    color: darkslategray;
}


#logout {    
    color: lightcyan;
}
#logout:hover {
    color: crimson;
}




/* Login/Signup Template*/
.landingReturningUser {
    background-color: #c8dae3;
    padding: 15px;
    border-radius: 10px;
}

.required{
    font-weight: bold;
    font-size:20px;
    color: darkred;
}

/*
landingNewUser {
}
*/






/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* ----- Footer -----*/
.social-icon {
    color: midnightblue;
    line-height: 10px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.footerLinks {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
}




    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }
    }
