@model VenueApp.ViewModels.AddMembershipViewModel

<h1>Add Membership</h1>

<form asp-controller="Membership" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="small text-danger" asp-validation-for="Name"></span>
    </div>


    <input class="btn bg-primary pull-right" type="submit" value="Add Membership" />

</form>

<br />
<p><a asp-controller="Membership" asp-action="Index">back</a>
