@{
    ViewBag.Title = "Test View";
}

<h1>@ViewBag.Title</h1>

<h3>Hello, the VenueApp is being implemented.</h3>

<div>
    <h2> Homepage </h2>
    <a asp-controller="User" asp-action="Login">USER ACCOUNT</a>
</div>
